body {
    background-color: #262626;
    color: #DEDEDE;
    font-family: "Inconsolata", monospace;
    font-size: 100%;
}

a {
    padding: 2px;
}

a:link {
    color: #ABABAB;
}

a:visited {
    color: #787878;
}

a:link:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

a:visited:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

a:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

a:active {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

pre {
    color: #959595;
}

li {
    font-size: 1.25em;
}

p {
    font-size: 1.25em;
}

label {
    font-size: 1.25em;
}

.navbar {
    font-size: 1.25em;
}

.navbar-brand {
    font-family: "Audiowide", cursive;
}