body {
    background-color: #121212;
    color: #DEDEDE;
    font-family: "Inconsolata", monospace;
    font-size: 100%;
}

a:link {
    color: #ABABAB;
}

a:visited {
    color: #787878;
}

a:link:hover {
    color: #FFFFFF;
}

a:visited:hover {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FFFFFF;
}

pre {
    color: #959595;
}

li {
    font-size: 1.25em;
}

p {
    font-size: 1.25em;
}

label {
    font-size: 1.25em;
}

.navbar {
    font-size: 1.25em;
}

.navbar-brand {
    font-family: "Audiowide", cursive;
}